@model SurveysViewModel
@{
    ViewData["Title"] = "Surveys";
    int questionOpen = 0;
    int OpenedQuestion = 0;
    Char questionLetter = 'a';
}

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#CreateSurvey">
    Create Survey
</button>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#SendSurveyLink">
    Send Survey
</button>

<div class="modal fade" id="CreateSurvey" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Index" asp-controller="Surveys" method="post" >
                <div class="modal-header">
                    <h5 class="modal-title">Create Survey</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="display: flex; flex-direction: column;">
                    <p>Titel: <input asp-for="CreateSurveyViewModel.name" class="text" /></p>
                    <p>Beschrijving: <input asp-for="CreateSurveyViewModel.description" class="text" /></p>
                    @foreach (var question in Model.CreateSurveyViewModel.Questions)
                    {
                        {
                            questionLetter = (Char)((true ? 65 : 97) + questionOpen);
                        }
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#@questionLetter">
                            @question.question
                        </button>
                        questionOpen++;
                    }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" name="Index" value="Create" />
                </div>
@for (int i = 0; i < Model.CreateSurveyViewModel.Questions.Count(); i++)
{
    {
        questionLetter = (Char)((true ? 65 : 97) + OpenedQuestion);
    }
    <div class="modal fade" id="@questionLetter" tabindex="1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Create Survey</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="display: flex; flex-direction: column;">
                    <p>Vraag: <input asp-for="CreateSurveyViewModel.Questions[i].question" class="text" /></p>
                    <p>Beschrijving: <input asp-for="CreateSurveyViewModel.Questions[i].description" class="text" /></p>
                    <p>Antwoord - groen: <input asp-for="CreateSurveyViewModel.Questions[i].desc_good" class="text" /></p>
                    <p>Antwoord - geel: <input asp-for="CreateSurveyViewModel.Questions[i].desc_avg" class="text" /></p>
                    <p>Antwoord - rood: <input asp-for="CreateSurveyViewModel.Questions[i].desc_bad" class="text" /></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    OpenedQuestion++;
}
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="SendSurveyLink" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-controller="Surveys" asp-action="SendSurveyLink">
                <div class="modal-header">
                    <h5 class="modal-title">Send Survey</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="display: flex; flex-direction: column;">
                    <select name="surveyId" class="form-select" asp-items="ViewBag.Surveys"></select>
                    <select name="squadId" class="form-select" asp-items="ViewBag.Squads"></select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" name="submit" value="Create" />
                </div>
            </form>
        </div>
    </div>
</div>

<div>
    <br />
    <br />
    <table class="table">
        <tdead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Address</th>
            </tr>
        </tdead>
        <tbody>
            @foreach (var item in Model.SurveyViewModels)
            {
                <tr>
                    <td>@Html.DisplayFor(x => item.id)</td>
                    <td>@Html.DisplayFor(x => item.name)</td>
                    <td>@Html.DisplayFor(x => item.description)</td>
                </tr>
            }
        </tbody>
    </table>
</div>
