@model RockstarsManagementSquad.Models.CompanyInfoViewModel

@{
    ViewData["Title"] = "Company Info";
}

<h1>@Model.company.name</h1>
<h3>@Model.company.adress - @Model.company.telephonenr</h3>
<br />
<div>
    <a asp-action="Index" class="btn btn-dark">Back</a>
    <br />
    <br />
    <table class="table">
        <tdead>
            <tr>
                <th>Squad name</th>
                <th>Survey Id</th>
            </tr>
        </tdead>
        <tbody>
            @foreach (var item in Model.squads)
            {
                <tr>
                    <td>@item.name</td>
                    <td>@item.surveyId</td>
                    <td>@Html.ActionLink("Result", "Info", "Squads", new { id=item.id }, new { @class = "btn btn-outline-success" })</td>
                    <td>@Html.ActionLink("Remove", "RemoveSquadFromCompany", "Squads", new { squadId=item.id, companyId=item.companyId }, new { @class = "btn btn-outline-danger" })</td>
                </tr>
            }
        </tbody>
    </table>
</div>
