@model AnswerSquadViewModel

@{
	Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
	<h1>@Model.squad.name</h1>
</head>
<div class="d-flex flex-row">
	<form asp-controller="Squads" asp-action="Info">
		<input style="display: none;" name="id" value="@Model.squad.id"></input>
		<input type="submit" name="Info" value="Back" class="btn btn-dark"></input>
	</form>
	@if (Model.userAnswer.Count != 0)
	{
		<a asp-action="SquadGraph" asp-controller="Answer" asp-route-id="@Model.squad.id" class="btn btn-success">Graph</a>
	}
	
</div>
<table class="table">
	<tdead>
		<tr>
			<th>User</th>
			<th>QuestionID</th>
			<th>Question</th>
			<th>AnswerValue</th>
			<th>Answer</th>
			<th>Comment</th>
		</tr>
	</tdead>
	<tbody>
		@foreach (var item in Model.userAnswer)
		{
			@for (int i = 0; i < item.answers.Count(); i++)
			{
				<tr>
					<td>@item.rockstar.username</td>
					<td>@item.answers[i].id</td>
					<td>@item.answers[i].question</td>
					@if (item.answers[i].answer == 0)
					{
						<td><div class="col-2 p-3 mb-2 bg-success"></div></td>
					}
					else if (item.answers[i].answer == 1)
					{
						<td><div class="col-2 p-3 mb-2 bg-warning"></div></td>
					}
					else if (item.answers[i].answer == 2)
					{
						<td><div class="col-2 p-3 mb-2 bg-danger"></div></td>
					}
					<td>@item.answers[i].answerText</td>

					<td>@item.answers[i].comment</td>
				</tr>
			}
		}
	</tbody>
</table>
</html>