@model AnswerUserViewModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <h1>@Model.rockstar.username</h1>
</head>
        <table class="table">
                <tdead>
                    <tr>
                        <th>QuestionID</th>
                        <th>Question</th>
                        <th>Answer</th>
                        <th>Comment</th>
                    </tr>
                </tdead>
                <tbody>
                    @foreach (var item in Model.answers)
                    {
                        <tr>
                            <td>@item.id</td>
                            <td>@item.question</td>
                            <td>@item.answerText</td>
                            <td>@item.comment</td>
                        </tr>
                    }
                </tbody>
            </table>
</html>