@model SquadInfoViewModel

<h1>@Model.squad.name</h1>
<h2>@Model.squad.companyName</h2>
<div>
    <div style="display: flex;">
        <a asp-action="Index" class="btn btn-dark" >Back</a>
        <form asp-controller="Answer" asp-action="Squad" style="margin-left: 5px;">
            <input type="text" name="id" style="display: none;" value="@Model.squad.id" />
            <input type="submit" name="Squad" class="btn btn-success" value="Results" />
        </form>
    </div>
    <br />
    <br />
    <table class="table">
        <tdead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Url</th>
            </tr>
        </tdead>
        <tbody>
            @foreach (var item in Model.rockstars)
            {
                <tr>
                    <td>@item.username</td>
                    <td>@item.email</td>
                    <td>@item.url</td>
                    <td><button class="btn btn-outline-success" onclick="location.href='@Url.Action("User", "Answer", new { id = item.id })'">Result</button></td>
                    <td><button class="btn btn-outline-danger" onclick="location.href='@Url.Action("RemoveUserFromSquad", "Squads", new { userId = item.id, squadId = Model.squad.id })'">Remove from squad</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>